{{>header}}
{{>nav}}
<!-- Welcome Banner -->
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Welcome to Our Initiative!</h1>
    <p class="lead">We help in reducing food waste and support local communities.</p>
    <a class="btn btn-primary btn-lg" href="register" role="button">Join Us</a>
  </div>
</div>

<!-- Section about the Initiative -->
<section class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>About Our Initiative</h2>
      <p>We work with local suppliers to an provide an effective alternative to help reduce food waste, which helps to achieve our global climate commitments. </p>
    </div>
    <div class="col-lg-6">
      <img src="img/pantry2.jpg" class="img-fluid" alt="Placeholder">
    </div>
  </div>
</section>
{{>footer}}